.navbar{background-color:black;
    display:flex;
    padding:4px;
    gap:10px;
    justify-content:center;}
.link{border:solid red 2px;color:red;padding:10px;}
.link:hover{border:solid red 2px;color:red;padding:10px;
       background-color:white;
    cursor:pointer;}
.link:active{background-color: aqua;}
.link:{background-color: brown;}

.about{background-color:green;
    text-align:center;padding:60px;padding-top:0;font-size:50px;}

    .imagebox{display:flex;justify-content:center;
        background-color:green;}
    img{border:0;padding:0;width:30vw;}
   